@import '../../mixins.scss';

.homepage {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 35px;
  .game {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
