@import '../../mixins.scss';

.card {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-radius: 10px;
  border: 1px solid #e8c4ba;
  background: #f0cec5;
  box-shadow: 0px 0px 10px 2px rgba(41, 41, 41, 0.25);
  cursor: pointer;
  transition: all 0.15s ease-in;
  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(232, 196, 186, 0.1);
  }
}
