@import '../../mixins.scss';

.card {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  border: 1px solid #e8c4ba;
  background: #f0cec5;
  box-shadow: 0px 0px 10px 2px rgba(41, 41, 41, 0.25);
  cursor: pointer;
  transition: all 0.15s ease-in;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(232, 196, 186, 0.1);
  }

  @media (max-width: $screen-smd-max) {
    width: 71px;
    height: 71px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.01s ease-in;
  }
}
.flipped {
  transform: rotateY(180deg);
  img {
    transform: rotateY(-180deg);
  }
}
